<a href="https://microlaunch.net/p/500kagency" target="_blank" style="text-decoration: none !important;">
  <div
    style="
      display: flex;
      background-color: white;
      align-items: center;
      border: 1px solid #d70466;
      padding: 8px 14px;
      border-radius: 8px;
      gap: 8px;
    "
  >
    <div>
      <img
        src="https://microlaunch.net/microlaunch_logo_v1.svg"
        width="32px"
        height="32px"
      >
    </div>
    <div style="display: flex; flex-direction: column">
      <span style="font-size: 14px; line-height: 14px;">Product of the month</span>
      <span style="font-size: 24px; line-height: 24px; font-weight: bold;">Microlaunch</span>
    </div>
  </div>
</a>
